<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'navigation.html' %}
    <div class="container text-center">
        <h2>Non-spam comments training dataset</h2>
        <div class="mb-5">
            <figure class="figure">
                <img class="figure-img img-fluid" src="{{ url_for('static', filename='plots/not-spam-words-training-wordcloud.png') }}"/>
                <figcaption class="figure-caption">Wordcloud of non-spam comments</figcaption>
            </figure>
            <figure class="figure">
                <img class="figure-img img-fluid" src="{{ url_for('static', filename='plots/not-spam-words-training-bar-chart.png') }}"/>
                <figcaption class="figure-caption">Top ten most frequent non-spam words</figcaption>
            </figure>
        </div>
        <h2>Spam comments training dataset</h2>
        <div class="mb-5">
            <figure class="figure">
                <img class="figure-img img-fluid" src="{{ url_for('static', filename='plots/spam-words-training-wordcloud.png') }}"/>
                <figcaption class="figure-caption">Wordcloud of spam comments</figcaption>
            </figure>
            <figure class="figure">
                <img class="figure-img img-fluid" src="{{ url_for('static', filename='plots/spam-words-training-bar-chart.png') }}"/>
                <figcaption class="figure-caption">Top ten most frequent spam words</figcaption>
            </figure>
        </div>
        <h2>Confusion matrix and associated metrics</h2>
        <img src="{{ url_for('static', filename='plots/test-prediction-cf-matrix.png') }}">
        <p>{{ "{0:.2f}".format(classification_report['accuracy'] * 100) }}% accuracy prediction for {{ classification_report['macro avg']['support'] }} comments.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Precision</th>
                    <th scope="col">Recall</th>
                    <th scope="col">F1-Score</th>
                    <th scope="col">Support</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Not Spam(0)</th>
                    <td>{{ "{0:.2f}".format(classification_report['0']['precision']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['0']['recall']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['0']['f1-score']) }}</td>
                    <td>{{ classification_report['0']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Spam(1)</th>
                    <td>{{ "{0:.2f}".format(classification_report['1']['precision']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['1']['recall']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['1']['f1-score']) }}</td>
                    <td>{{ classification_report['1']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Macro Avg</th>
                    <td>{{ "{0:.2f}".format(classification_report['macro avg']['precision']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['macro avg']['recall']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['macro avg']['f1-score']) }}</td>
                    <td>{{ classification_report['macro avg']['support'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Weighted Avg</th>
                    <td>{{ "{0:.2f}".format(classification_report['weighted avg']['precision']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['weighted avg']['recall']) }}</td>
                    <td>{{ "{0:.2f}".format(classification_report['weighted avg']['f1-score']) }}</td>
                    <td>{{ classification_report['weighted avg']['support'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>